@model BeanSceneWebApp.Data.Reservation

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Reservation details</h4>
    <hr />
    <dl class="row">



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dt>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitting.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>

           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
